.title1 {
    font-size: 46px;
    color: #24336e;
}

.highlight-name {
    color: #f07eae;
}

.main-content {
    overflow: hidden;
}

.transaction-card {
    background-color: #fff3f8;
    border: 2px solid #f5abc0;
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
}

.calendar-wrapper {
    display: inline-flex; 
    gap: 30px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    width: 100%;
}

.calendar-wrapper::-webkit-scrollbar {
    height: 8px;
}

.calendar-wrapper::-webkit-scrollbar-thumb {
    background: #f5abc0;
    border-radius: 10px;
}

.calendar-wrapper::-webkit-scrollbar-track {
    background: #fff3f8;
}

.month-card {
    flex: 0 0 auto;
    display: inline-block;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: transparent;
    color: #fa8fbc;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.month-card:hover {
    color: #fff;
    background-color: #24336e;
}

.month-card.active {
    background-color: #24336e;
    color: white;
}

.transaction-table {
    margin-top: 20px;
    background-color: #fff3f8;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #f5abc0;
    overflow: hidden;
}

.scrollable-tbody {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: 6px;
    scrollbar-color: #f5abc0 #fff3f8;
}

.scrollable-tbody::-webkit-scrollbar {
    width: 10px;
}

.scrollable-tbody::-webkit-scrollbar-thumb {
    background-color: #f5abc0;
    border-radius: 3px;
}

.scrollable-tbody::-webkit-scrollbar-track {
    background-color: #fff3f8;
}

.transaction-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}

.transaction-table th,
.transaction-table td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
}

.transaction-table th {
    background-color: #fa8fbc;
    color: white;
}

.transaction-table td {
    color: #24336e;
}

.transaction-table tr:hover {
    background-color: #ffe0ef;
}
